<div class="pensamento {{ideia.modelo}} ff-roboto-mono" [ngClass]="larguraIdeia()">
  <img src="../../../assets/imagens/{{ideia.modelo}}.png" alt="Aspas coloridas">
  <p class="conteudo">{{ideia.conteudo}}</p>
  <p class="autoria"><b>{{ideia.autoria}}</b></p>
  <div class="acoes">
    <button class="botao-editar " >
      <img src="../../../assets/imagens/icone-editar.png" alt="Botão editar">
    </button>
    <button class="botao-excluir" routerLink="/Pensamentos/excluir-ideia/{{ideia.id}}" >
      <img src="../../../assets/imagens/icone-excluir.png" alt="Botão excluir">
    </button>
  </div>
</div>
